coderedcms==1.0.*
gunicorn
django-environ==0.9.0
whitenoise==6.3.0

# django_sendmail_backend enables sending email from your web host server.
# Remove this if using a different email backend.
django_sendmail_backend

# To use with MariaDB or MySQL, uncomment the line below:
#mysqlclient
# To use with PostgreSQL, uncomment the line below:
#psycopg2
